!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Perfectly Imperfect | Kristy Lahoda
    %meta{content: "content", name: "Keywords"}
    %meta{content: "description of page", content: "Description"}
    %link{href: "css/styles.css", rel: "stylesheet"}/
    <script src="https://use.typekit.net/kid0kei.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

  %body
    #primarynav
      %ul
        %li
          %h3
            %a{href: "index.html"} Home
        %li
          %h3
            %a{href: "about.html"} About Me
        %li
          %h3
            %a{href: "blogpostlisting.html"} Blog
        %li
          %h3
            %a{href: "resources.html"} Resources
        %li
          %h3 Stay Connected
        %li
          .search
            %input.search--input
            %button.search--button Search
    #container
      %header
        %h1.text-center
          %a{href: "index.html"} Perfectly Imperfect
        %h3.text-center Kristy Lahoda
        .fronthero
          %img.hero{src: "assets/img/hero.jpg"}

      #article
        .blog
          %header
            %h2.text-center Latest Updates
          %main
            %h3.text-center
              %a{href: "blogpost.html"} Christian Resiliency in the Face of Anorexia Recovery
            %p I promised to post about my January doctor’s appointment in a recent post. So in order to give you a picture of what’s really behind my skin, I’ll try to be as honest as possible.

            %p The week before I saw Dr. B, the dizziness returned…because my struggles the week before the Christmas week led to the start of me making sure I stayed at my lowest required units on my meal plan. I stopped eating 3 or 4 Luna bars a day for my snacks because they’re easy and meet my units and tried to eat more healthful snacks. I also thought it might help me lose weight. I think it did, and my dizziness returned. I knew this wasn’t a place I should be nor really wanted to be. But that didn’t stop me.

            %p On January 8th, I asked the doctor if he thought I still had an eating disorder, and he said yes I still have an eating disorder. I left the appointment very dejected, feeling like I shouldn’t fall under that classification any more. I mentioned in that post about being in a place of weight restoration but still struggling mentally. I cannot emphasize enough how hellish it is to be in this place. If my response to Dr. B’s answer tells you anything, you need to know more about where I was mentally.

            %p I wanted to be told I’m fine, yet after the nurse weighed me backward in my patient robe then left the room, I went right back to that scale, turned it on, and shamelessly stepped up. But there was no readout. I tried and tried again. Nothing. I suddenly remembered that the nurse had bent over the scale right before she left my room. Maybe she’d flipped a switch. I looked but was running out of time. She’d be back any minute. I was determined to find out why I wasn’t getting a reading and knew I’d need to wait till next time to watch.

            %p Sometime a few weeks after my visit, I decided to stop weighing myself at home, quite simply because nothing good could come of it. My counselor and I have spoken several times about the need to love myself no matter what I look like. In fact, my other counselor had also talked to me about radical self-acceptance, but at that point, it seemed like such a foreign concept to me.

            %p I went to my Ash Wednesday service, and here’s what I felt like God has been calling me to focus on:

            IMG_6409

            %p I showed my counselor at my next appointment my card then forgot to tell her but later wrote her to tell her that whenever I’d been tempted to weigh myself (and the struggle was real), I would say this prayer, ‘Lord I am Yours, and You are mine.’ then walk away. And I was actually starting to like some of my curves and beginning to love myself for who I am.

            %p Why do I struggle staying at the place of radical self-acceptance?

            %p I returned to Dr. B’s on March 4th and despite not weighing myself anymore, I watched like a hawk to see what the nurse did after she weighed me. She unplugged the scale, reached down and detached the plug from the scale, and took it out with her. I couldn’t help but smile a goofy smile that said, ‘I’m on to you, but you’ve got to be kidding me. I feel like an untrustworthy kid who had somehow been caught with my hand in the cookie jar.’ I was tempted to call out after her to ask if she did that with every anorexia-recovery patient, but I refrained.

            %p I remained very subdued at that appointment. I’m usually really chipper, and I really like my doctor, but at my last appointment, I felt like my charm had worn off. I’d felt like a sick patient rather than somewhat of a coequal (he’s an M.D., I’m a Ph.D., and we’re fairly close in age). I hate feeling like a sick patient who can’t be trusted. But from what I described above, obviously there’s a good reason for distrust on my team’s part. I struggle with trusting their decisions regarding my care too. So, I didn’t know how to act at this visit. I’m not good at being sick when I’m around intellectuals. I want to be known as intelligent too as opposed to a mentally disturbed patient or client.

            %p As we were wrapping up, he asked me if I weighed myself at home. I huffed in a silent chuckle and said I used to but sometime in between that appointment and my last one in January I’d stopped. He then told me he never talks weight with his eating disorder patients, but he wanted me to know that my weight had dropped and it wasn’t insignificant. I was quite shocked because I’d been feeling pretty good. I believe he told me because his next comment was that I should remind myself of this when I hear my eating disorder voice.

            %p I think this did the opposite of what he was hoping, unfortunately. It triggered me. I wasn’t trying to lose weight and had been doing well mentally, making great strides, but I couldn’t deny that part of me was secretly happy I was losing. And that made me feel like this was never going to end for me, like I’d always be trapped in it. I met with my counselor again twice after that. Based on how unlike myself I was at my appointment a week ago, we set up another one for this week. I admitted to the eating disorder behaviors I’ve mentioned above. To be fair, I had previously admitted to both, but I’d never told her I was checking my weight at my doctor’s office.

            %p She mentioned a few things–insight into which only the Holy Spirit could have given. She also mentioned trust. I returned home feeling humiliated, like I’d just lied to her. I didn’t trust her enough to tell her about my struggles. I didn’t want to be struggling. And the worst part of all this is that she has to tell my doctor.

            %p What I wanted to tell her in our session was this:

            %p I want desperately to be one of those people who are resilient.

            %p But I said nothing, believing I would and could never be that person.

            %p Two days later, I read something so powerful in a book I’ve been reading called Searching for and Maintaining Peace by Jacques Philippe. It gave me a lot of peace, as the title says. I’ve mentioned several times how God so often punctuates a lesson he’s already had me learn with an exclamation mark, and this was one of those times.

            %p Jacques talks about the experience of our own faults and failures causing a loss of peace in our soul despite our strong desire to correct it. “The discouragement and the anguish of soul that we feel after committing a fault are not good and we must, on the contrary, do everything we can to remain at peace…It is not so much a question of our making superhuman efforts to completely eliminate our imperfections and our sins (that which is, in any case, beyond our reach!), as it is a question of knowing how, as quickly as possible, to recapture our peace when we have fallen into sin or have been troubled by the experience of our imperfections, and to avoid sadness and discouragement. This is not laxity, nor resignation to mediocrity, but, on the contrary, a way in which to sanctify ourselves more rapidly. There are a number of reasons for this.”

            %p And then he gives the following reasons:

            %p 1. It isn’t by our efforts but by God’s grace we are freed from sin: “regain our peace and let God act”.

            %p 2. “What is more pleasing to God? Is it when, after experiencing a failure, we are discouraged and tormented, or when we react by saying, ‘Lord, I ask Your pardon, I have sinned again. This, alas, is what I am capable of doing on my own! But I abandon myself with confidence to Your mercy and Your pardon, I thank You for not allowing me to sin even more grievously. I abandon myself to You with confidence because I know that one day You will heal me completely and, in the meantime, I ask You that the experience of my misery would cause me to be more humble, more considerate of others, more conscious that I can do nothing by myself, but that I must rely solely on Your love and Your mercy.’”

            %p 3. The sadness of our sins are “rarely pure” but mixed with pride. “We are not sad and discouraged so much because God was offended, but because the ideal image that we have of ourselves has been brutally shaken…This excessive pain is actually a sign that we have put our trust in ourselves–in our own strength and not in God.”

            %p Wow. This is me. I so excruciatingly want to be a sanctified person, holy and pleasing to the Lord. I want to overcome anorexia. Yet part of me still wants to be thinner than they’ll allow, thinner than, if I admit to myself, my body wants. I know and have known and said before:

            %p I can’t heal myself.

            %p I still like being thinner than I am now.

            %p I know the answer is loving myself no matter what.

            %p 4. We shouldn’t be too disheartened by our “faults” because God is able to work them for good.

            %p Amen to that.

            %p And so, God told me that the way to resiliency is through this very thing Philippe spoke of in his wonderful little book. To be resilient is to be a practicing Christian. To be resilient is to immediately and constantly seek God’s way. To be resilient is to boldly turn to God in faith when I can’t see the way. And to be resilient is to surrender my will to His. I must immediately and continue to turn back to God, knowing He’s perfect and I’m not, recognizing His way is better than mine, knowing His grace strengthens me in my weakness.

            IMG_6141

            %p And so, as this ashen cross on my forehead indicates, I will once again reorient myself toward God as I continue pressing on toward the goals I wrote down on my card above. I’ve made progress in all areas and have fallen backward in those same areas. All in God’s time.

            %p The answer is always love, whether it’s loving people more or ourselves more.

            %p Can I get an amen?

            %p Happy Good Friday to you all. If Christ hadn’t endured the cross on a Friday over 2,000 years ago, there would be no Easter Sunday. There would be no redemption of our sins. If Christ hadn’t taken our sins for us to the cross as the final sacrificial lamb offering, we would not be able to fulfill our assignment given us in the Garden of Eden to be reflectors of God’s Holy image, replicating His glory throughout the world.

            %p I don’t know about you, but I plan on enjoying this life while waiting expectantly for the complete redemption of our broken world. I look forward to the day when I am made whole. In the meantime, I am resilient because of God’s grace. I can live in peace, knowing God is doing a good work in me.

            %p This is hope.

            %p This is recovery.



      %footer
