.clearfix {
  clear: both;
}

hr {
  height: 15px;
  background-image: url("../prod/assets/img/wc-swipe-long_hr2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-style: hidden;
}
