{% extends "layout.twig" %}

{% block l_sidebar_left %}

<div class="c_nav">
    <ul id="menu-menu-1" class="nav sf-js-enabled">
        <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-46"><a href="http://www.kristylahoda.net/">Home</a></li>
        <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="http://www.kristylahoda.net/about-kristy/">About Kristy</a></li>
        <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a href="http://www.kristylahoda.net/resources/">Resources</a></li>
        <li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49"><a href="http://www.kristylahoda.net/subscribe-for-updates/">Subscribe to Kristy’s Blog!</a></li>
    </ul>
    <div class="c_search">
        <input class="c_search__input" />
        <button class="c_search__button">Search</button>
    </div>
</div>
{% endblock %}
