<div class="c_nav">
    <div class="nav_button_container">
        <a id="nav_button" href="#">
            <h2 class="nav_menu_button">Menu</h2>
        </a>
    </div>
    <div class="l_nav_container">
        <ul id="menu-menu-1" class="nav sf-js-enabled">
            <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-46">
                <a href="index.html">Home</a>
            </li>
            <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47">
                <a href="about.html">About Kristy</a>
            </li>
            <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48">
                <a href="resources.html">Resources</a>
            </li>
            <li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
                <a href="blogpostlisting.html">Blog!</a>
            </li>
        </ul>
        <div class="c_search__container">
            <div class="c_search__fit">
                <div class="c_search__box">
                    <input class="c_search__input"/><button class="c_search__button">Search</button>
                </div>
            </div>
        </div>

    </div>
    <div class="social__container">
        <a class="social social__twitter" href="https://twitter.com/KristyLahoda"><img src="assets/img/wc-social-twitter.png" alt="twitter"/></a>
        <a class="social social__facebook" href="https://www.facebook.com/kristylahoda"><img src="assets/img/wc-social-facebook.png" alt="facebook"/></a>
    </div>
    <div id="s2_form_widget-2" class="f_widget s2_form_widget">
      <h4 class="widgettitle">Sign up to recieve email updates!</h4>
      <div class="c_signup">
        <form method="post" action="http://www.kristylahoda.net/subscribe-for-updates/"><input type="hidden" name="ip" value="74.135.65.104"/>
            <span style="display:none !important">
                <label for="name">Leave Blank:</label><input type="text" id="name" name="name"/>
                <label for="uri">Do Not Change:</label><input type="text" id="uri" name="uri" value="http://"/></span>
            <p>
                <label for="s2email">Your email:</label><br/><input type="text" name="email" id="s2email" value="Enter email address..." size="20" onfocus="if (this.value == 'Enter email address...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Enter email address...';}"/></p>
            <p><input type="submit" name="subscribe" value="Subscribe"/></p>
        </form>
    </div>

</div>
</div>
