<div class="widget__sidebar">
    <div id="archives-2" class="f_widget widget_archive">
        <h4 class="widgettitle">Archives</h4>
        <ul>
    </div>
    <li><a href='http://www.kristylahoda.net/2016/03/'>March 2016</a>&nbsp;(2)</li>
    <li><a href='http://www.kristylahoda.net/2016/02/'>February 2016</a>&nbsp;(5)</li>
    <li><a href='http://www.kristylahoda.net/2016/01/'>January 2016</a>&nbsp;(1)</li>
    <li><a href='http://www.kristylahoda.net/2015/11/'>November 2015</a>&nbsp;(1)</li>
    <li><a href='http://www.kristylahoda.net/2015/09/'>September 2015</a>&nbsp;(1)</li>
    <li><a href='http://www.kristylahoda.net/2015/08/'>August 2015</a>&nbsp;(1)</li>
    <li><a href='http://www.kristylahoda.net/2015/06/'>June 2015</a>&nbsp;(1)</li>
    <li><a href='http://www.kristylahoda.net/2015/05/'>May 2015</a>&nbsp;(2)</li>
    <li><a href='http://www.kristylahoda.net/2015/04/'>April 2015</a>&nbsp;(1)</li>
    <li><a href='http://www.kristylahoda.net/2015/03/'>March 2015</a>&nbsp;(2)</li>
    <li><a href='http://www.kristylahoda.net/2015/02/'>February 2015</a>&nbsp;(3)</li>
    <li><a href='http://www.kristylahoda.net/2015/01/'>January 2015</a>&nbsp;(1)</li>
    <li><a href='http://www.kristylahoda.net/2014/11/'>November 2014</a>&nbsp;(1)</li>
    <li><a href='http://www.kristylahoda.net/2014/10/'>October 2014</a>&nbsp;(3)</li>
    <li><a href='http://www.kristylahoda.net/2014/09/'>September 2014</a>&nbsp;(2)</li>
    <li><a href='http://www.kristylahoda.net/2014/08/'>August 2014</a>&nbsp;(4)</li>
    <li><a href='http://www.kristylahoda.net/2014/06/'>June 2014</a>&nbsp;(4)</li>
    <li><a href='http://www.kristylahoda.net/2014/05/'>May 2014</a>&nbsp;(4)</li>
    <li><a href='http://www.kristylahoda.net/2014/04/'>April 2014</a>&nbsp;(3)</li>
    </ul>
    <aside id="archives-2" class="widget blog-categories widget_archive"><h2 class="widget-title">Archives</h2>		<label class="screen-reader-text" for="archives-dropdown-2">Archives</label>
		<select id="archives-dropdown-2" name="archive-dropdown" onchange='document.location.href=this.options[this.selectedIndex].value;'>

			<option value="">Select Month</option>
				<option value='http://roblahoda.com/2016/05/'> May 2016 &nbsp;(3)</option>
	<option value='http://roblahoda.com/2016/04/'> April 2016 &nbsp;(3)</option>
	<option value='http://roblahoda.com/2016/03/'> March 2016 &nbsp;(19)</option>

		</select>
		</aside>
</div>
<div class="widget__sidebar">

    <div class="tagcloud"> <a href="http://www.kristylahoda.net/tag/adam-and-eve/" class="tag-link-22" title="1 topic" style="font-size: 8pt;">Adam and Eve</a> <a href="http://www.kristylahoda.net/tag/addiction/" class="tag-link-18" title="4 topics" style="font-size: 13.490196078431pt;">addiction</a>                    <a href="http://www.kristylahoda.net/tag/advertising/" class="tag-link-4" title="6 topics" style="font-size: 15.549019607843pt;">advertising</a> <a href="http://www.kristylahoda.net/tag/attractive/" class="tag-link-33" title="1 topic"
            style="font-size: 8pt;">attractive</a> <a href="http://www.kristylahoda.net/tag/attractiveness/" class="tag-link-34" title="6 topics" style="font-size: 15.549019607843pt;">attractiveness</a> <a href="http://www.kristylahoda.net/tag/beauty-of-diversity/"
            class="tag-link-21" title="4 topics" style="font-size: 13.490196078431pt;">beauty of diversity</a> <a href="http://www.kristylahoda.net/tag/body-image/" class="tag-link-28" title="14 topics" style="font-size: 20.078431372549pt;">body image</a>                    <a href="http://www.kristylahoda.net/tag/children/" class="tag-link-39" title="2 topics" style="font-size: 10.470588235294pt;">children</a> <a href="http://www.kristylahoda.net/tag/christian-counseling/" class="tag-link-12" title="2 topics"
            style="font-size: 10.470588235294pt;">Christian counseling</a> <a href="http://www.kristylahoda.net/tag/disordered-eating/" class="tag-link-41" title="1 topic" style="font-size: 8pt;">disordered eating</a> <a href="http://www.kristylahoda.net/tag/eating-disorder/"
            class="tag-link-11" title="15 topics" style="font-size: 20.352941176471pt;">eating disorder</a> <a href="http://www.kristylahoda.net/tag/emasculate/" class="tag-link-43" title="1 topic" style="font-size: 8pt;">emasculate</a> <a href="http://www.kristylahoda.net/tag/false-identity/"
            class="tag-link-35" title="3 topics" style="font-size: 12.117647058824pt;">false identity</a> <a href="http://www.kristylahoda.net/tag/false-intimacy/" class="tag-link-45" title="2 topics" style="font-size: 10.470588235294pt;">false intimacy</a>                    <a href="http://www.kristylahoda.net/tag/fashion/" class="tag-link-3" title="1 topic" style="font-size: 8pt;">fashion</a> <a href="http://www.kristylahoda.net/tag/fashion-industry/" class="tag-link-29" title="1 topic" style="font-size: 8pt;">fashion industry</a>                    <a href="http://www.kristylahoda.net/tag/freedom/" class="tag-link-15" title="20 topics" style="font-size: 22pt;">freedom</a> <a href="http://www.kristylahoda.net/tag/god/" class="tag-link-14" title="2 topics" style="font-size: 10.470588235294pt;">God</a>                    <a href="http://www.kristylahoda.net/tag/gods-child/" class="tag-link-48" title="4 topics" style="font-size: 13.490196078431pt;">God's child</a> <a href="http://www.kristylahoda.net/tag/gods-handiwork/" class="tag-link-20" title="9 topics"
            style="font-size: 17.607843137255pt;">God's handiwork</a> <a href="http://www.kristylahoda.net/tag/gods-image-2/" class="tag-link-6" title="10 topics" style="font-size: 18.156862745098pt;">God's image</a> <a href="http://www.kristylahoda.net/tag/gods-love/"
            class="tag-link-51" title="15 topics" style="font-size: 20.352941176471pt;">God's love</a> <a href="http://www.kristylahoda.net/tag/gods-view/" class="tag-link-49" title="1 topic" style="font-size: 8pt;">God's view</a> <a href="http://www.kristylahoda.net/tag/good-enough/"
            class="tag-link-24" title="3 topics" style="font-size: 12.117647058824pt;">good enough</a> <a href="http://www.kristylahoda.net/tag/healing/" class="tag-link-9" title="16 topics" style="font-size: 20.764705882353pt;">healing</a>
        <a
            href="http://www.kristylahoda.net/tag/hope/" class="tag-link-10" title="15 topics" style="font-size: 20.352941176471pt;">hope</a> <a href="http://www.kristylahoda.net/tag/hourglass-shape/" class="tag-link-19" title="1 topic" style="font-size: 8pt;">hourglass shape</a> <a href="http://www.kristylahoda.net/tag/hyper-masculinity/" class="tag-link-42" title="1 topic"
                style="font-size: 8pt;">hyper-masculinity</a> <a href="http://www.kristylahoda.net/tag/jean-kilbourne/" class="tag-link-37" title="1 topic" style="font-size: 8pt;">Jean Kilbourne</a> <a href="http://www.kristylahoda.net/tag/ministry/"
                class="tag-link-17" title="2 topics" style="font-size: 10.470588235294pt;">ministry</a> <a href="http://www.kristylahoda.net/tag/objectification/" class="tag-link-46" title="1 topic" style="font-size: 8pt;">objectification</a>                        <a href="http://www.kristylahoda.net/tag/photoshop/" class="tag-link-27" title="1 topic" style="font-size: 8pt;">Photoshop</a> <a href="http://www.kristylahoda.net/tag/porn/" class="tag-link-44" title="2 topics" style="font-size: 10.470588235294pt;">porn</a>                        <a href="http://www.kristylahoda.net/tag/porn-industry/" class="tag-link-47" title="2 topics" style="font-size: 10.470588235294pt;">porn industry</a> <a href="http://www.kristylahoda.net/tag/recovering/" class="tag-link-16" title="12 topics"
                style="font-size: 19.117647058824pt;">recovering</a> <a href="http://www.kristylahoda.net/tag/redeeming-love/" class="tag-link-13" title="11 topics" style="font-size: 18.705882352941pt;">redeeming love</a> <a href="http://www.kristylahoda.net/tag/self-esteem/"
                class="tag-link-36" title="4 topics" style="font-size: 13.490196078431pt;">self-esteem</a> <a href="http://www.kristylahoda.net/tag/self-image/" class="tag-link-5" title="7 topics" style="font-size: 16.235294117647pt;">self image</a>                        <a href="http://www.kristylahoda.net/tag/sensory/" class="tag-link-26" title="1 topic" style="font-size: 8pt;">sensory</a> <a href="http://www.kristylahoda.net/tag/sex-appeal/" class="tag-link-31" title="2 topics" style="font-size: 10.470588235294pt;">sex appeal</a>                        <a href="http://www.kristylahoda.net/tag/sexiness/" class="tag-link-30" title="2 topics" style="font-size: 10.470588235294pt;">sexiness</a> <a href="http://www.kristylahoda.net/tag/sexualization/" class="tag-link-40" title="3 topics"
                style="font-size: 12.117647058824pt;">sexualization</a> <a href="http://www.kristylahoda.net/tag/shame/" class="tag-link-23" title="8 topics" style="font-size: 16.921568627451pt;">shame</a> <a href="http://www.kristylahoda.net/tag/truth-in-advertising-act/"
                class="tag-link-32" title="1 topic" style="font-size: 8pt;">Truth in Advertising Act</a> <a href="http://www.kristylahoda.net/tag/waif/" class="tag-link-25" title="2 topics" style="font-size: 10.470588235294pt;">waif</a></div>
</div>
