{% extends "partials/layout.twig" %}

{% block page %}
<header>
    <!-- <h1 class="text-center"><a href="index.html">Perfectly Imperfect</a></h1>
    <h3 class="text-center">Kristy Lahoda</h3>
    <div class="fronthero hero_interior"><img src="assets/img/hero.jpg" class="hero" /></div> -->
    {% include "partials/header.twig" %}
</header>
<article id="post-4" class="post-4 page type-page status-publish hentry et-no-image et-bg-layout-dark et-white-bg l_article">

	<div class="post-content">
		<header>
			<h1 class="text-center">About Kristy</h1>

			</header>

		<div class="post-content">
		<p>I live in the tension between being redeemed by Jesus yet still imperfect.</p>
<p><em>&#8220;To keep me from becoming conceited because of these surpassingly great revelations, there was given me a thorn in my flesh, a messenger of Satan, to torment me. Three times I pleaded with the Lord to take it away from me. But he said to me, &#8220;My grace is sufficient for you, for my power is made perfect in weakness.&#8217; Therefore, I will boast all the more gladly about my weaknesses, so that Christ&#8217;s power may rest on me. That is why, for Christ&#8217;s sake, I delight in weaknesses, in insults, in hardships, in persecutions, in difficulties. For when I am weak, then I am strong.&#8221;</em> The Bible, 2 Corinthians 12:7-10</p>
<p>I am in recovery from anorexia, a 22 year off-and-on battle. It has tried to rob me of life and has stolen years, but my soul is God&#8217;s. My body has recovered and is recovering. I&#8217;ve overcome and am overcoming by the Holy Spirit, whom directs me to God. I cannot heal myself. Only God can.</p>
<p>Jesus, the Word, became flesh and came to give us life and life abundantly. My desire is to share my journey of God&#8217;s love through my words, whether written or spoken. Whether you struggle with an eating disorder, identity, addictions, or self-hatred, know someone who does, or just want to know more about God&#8217;s love and power, I welcome you to follow along on this wild journey. I am learning to live, really live.</p>
		</div>

			</div> <!-- .post-content -->

</article>
<div class="l_sidebar__right text-center">

    {% include "partials/widget_sidebar.twig" %}

</div>
{% endblock %}
